.outer_div {
  text-align:center;
  padding-top:4em;
}

.heading {
  font-weight: bold;
  font-size: 4em;
  margin: 0px;
}

.subheading {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
}
